In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.optimize as optimization

In [3]:
data = pd.read_csv('Uber-2015.csv')
len(data)

14270479

In [2]:
Prediction = pd.read_csv('Prediction_2015.csv')

In [19]:
Prediction.head()

,Unnamed: 0,Location_ID,Uber_Popularity,Uber_a,Uber_b,Uber_c,Uber_d,Taxi_Popularity,taxi_a,taxi_b,taxi_c,taxi_d,Prediction,Prediction_Type,Transformed_ID
0,0,1,Uber_not_popuplar,0.000000,0.000000,0.000000,0.000000,popular,1701.463999,-0.103569,16.408720,236.862157,Taxi_Dominates,Taxi Dominates,82
1,1,2,Uber_not_popuplar,0.000000,0.000000,0.000000,0.000000,Taxi_not_popuplar,0.000000,0.000000,0.000000,0.000000,Not_Popular,Low Trips,151
2,2,3,popular,10.167656,0.112903,4.818614,-1.116316,Taxi_not_popuplar,0.000000,0.000000,0.000000,0.000000,Uber_Dominates,Uber Dominates,172
3,3,4,popular,395.943848,1.077022,141.060494,2.900637,popular,1106.532458,-0.670889,478.565018,-122.301229,225.5358995625786,Expected Uber Dominates,163
4,4,5,Uber_not_popuplar,0.000000,0.000000,0.000000,0.000000,Taxi_not_popuplar,0.000000,0.000000,0.000000,0.000000,Not_Popular,Low Trips,140

In [4]:
Location_transform = np.load('nyc_lookup.npy')

def ID_Transform(id_value, trans = Location_transform):
    index = trans[id_value-1][-1]
    return index

result = map(ID_Transform, Prediction.loc[:, 'Location_ID'].tolist())

Prediction['Transformed_ID'] = result

In [14]:
data = Prediction.groupby('Transformed_ID')['Prediction_Type']

In [20]:
tran = np.unique(Prediction['Transformed_ID'].values)
result = np.zeros((len(tran), 2), dtype = object)
i = 0
for value in tran:
    temp = Prediction[Prediction['Transformed_ID'] == value]
    result[i, 0] = value
    result[i, 1] = temp['Prediction_Type'].tolist()[0]
    i+=1

In [25]:
Prediction = pd.DataFrame(result, columns={'Location_ID_new', 'Prediction'})

In [26]:
Prediction.to_csv('Prediction_Final.csv')

In [30]:
filter(lambda x: x[1] == 161, Location_transform)

[array([160, 161, 'Manhattan', 'Midtown Center', 40.75536760000001,
        -73.9784137, 33], dtype=object)]

In [10]:
#data_taxi = pd.read_csv('Taxi_Data.csv')
data_uber = pd.read_csv('Uber-2014.csv')

In [3]:
data_uber.head()

,Unnamed: 0,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,Date,Year,Month,time
0,0,B02617,2015-05-17 09:47:00,B02617,141,17,2015,5,9
1,1,B02617,2015-05-17 09:47:00,B02617,65,17,2015,5,9
2,2,B02617,2015-05-17 09:47:00,B02617,100,17,2015,5,9
3,3,B02617,2015-05-17 09:47:00,B02774,80,17,2015,5,9
4,4,B02617,2015-05-17 09:47:00,B02617,90,17,2015,5,9

In [11]:
#data_taxi = data_taxi.drop(['Unnamed: 0'], axis = 1)
data_uber = data_uber.drop(['Unnamed: 0'], axis = 1)

In [5]:
data_uber.head()

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,Date,Year,Month,time
0,B02617,2015-05-17 09:47:00,B02617,141,17,2015,5,9
1,B02617,2015-05-17 09:47:00,B02617,65,17,2015,5,9
2,B02617,2015-05-17 09:47:00,B02617,100,17,2015,5,9
3,B02617,2015-05-17 09:47:00,B02774,80,17,2015,5,9
4,B02617,2015-05-17 09:47:00,B02617,90,17,2015,5,9

In [28]:
uber_ID_list = np.unique(data_uber['Location_ID'].values)

In [12]:
data_uber = data_uber.groupby(['Location_ID'])['time'].count().reset_index(level = 1)

In [14]:
Location_transform = np.load('nyc_lookup.npy')

In [15]:
Location_transform = np.load('nyc_lookup.npy')
def ID_Transform(id_value, trans = Location_transform):
    index = trans[id_value-1][-1]
    return index

result = map(ID_Transform, data_uber.loc[:, 'Location_ID'].tolist())

data_uber['Transformed_ID'] = result

In [16]:
data_uber['Transformed_ID'] = result

In [18]:
data = data_uber.groupby('Transformed_ID')['time'].sum().reset_index(level = 1)

In [21]:
data.rename(columns={'Transformed_ID': 'Location_ID_new', 'time': 'Count'}, inplace=True)

In [23]:
data.to_csv('Uber_distribution_2014.csv')

In [29]:
uber_ID_state = np.zeros((265, 6), dtype=object)

In [30]:
def curv_func(x, a, b, c, d):
    return a + b*x + c*np.sin((2*np.pi/7.)*x) + d*np.cos((2*np.pi/7.)*x)

In [31]:
for i in range(265):
    uber_ID_state[i, 0] = i+1
    if i not in uber_ID_list:
        uber_ID_state[i, 1] = 'Uber_not_popuplar'
    else:
        sample  = data_uber[data_uber['Location_ID'] == i+1]
        count_value = sample.groupby(['Month', 'date']).count()['time'].tolist()
        if len(count_value) < 183:
            uber_ID_state[i, 1] = 'Uber_not_popuplar'
        else:
            uber_ID_state[i, 1] = 'popular'
            count_value = np.array(count_value)
            para = optimization.curve_fit(curv_func, range(len(count_value)), count_value, np.zeros(4))[0]
            uber_ID_state[i, 2:] = para

In [32]:
uber_state = pd.DataFrame(uber_ID_state, columns=['Locarion_ID', 'Popularity', 'Uber_a', 'Uber_b', 'Uber_c', 'Uber_d'])

In [34]:
Taxi_ID_state = np.zeros((265, 6), dtype=object)

In [40]:
for i in range(265):
    print i
    Taxi_ID_state[i, 0] = i+1
    sample = data_taxi[data_taxi['Location_ID'] == i+1]
    sample = sample[sample['Year'] == 2014]
    sample = sample[(sample['Month']<=9) & (sample['Month'] >=4)]
    count_value = sample.groupby(['Month', 'Date'])['Count'].sum().tolist()
    if len(count_value) < 183:
        Taxi_ID_state[i, 1] = 'Taxi_not_popuplar'
    else:
        Taxi_ID_state[i, 1] = 'popular'
        count_value = np.array(count_value)
        para = optimization.curve_fit(curv_func, range(len(count_value)), count_value, np.zeros(4))[0]
        Taxi_ID_state[i, 2:] = para

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264

In [41]:
taxi_state = pd.DataFrame(Taxi_ID_state, columns=['Locarion_ID', 'Popularity', 'taxi_a', 'taxi_b', 'taxi_c', 'taxi_d'])

In [43]:
len(taxi_state[taxi_state['Popularity'] == 'popular'])

142

In [134]:
count_value = np.array(count_value)

In [135]:
para = optimization.curve_fit(curv_func, range(len(count_value)), count_value, np.zeros(4))[0]

In [137]:
pred_out = map(lambda x: curv_func(x, para[0], para[1], para[2], para[3]), range(len(count_value)))

In [138]:
pred_linear_out = map(lambda x: para[0]+para[1]*x, range(len(count_value)))

In [101]:
pred_out

[849.09711452820261,
 874.23814533956704,
 1055.1778221561487,
 874.23814533956704,
 557.18666694725721,
 557.18666694725721,
 677.81311815831145,
 788.78388892267526,
 858.73283023070155,
 1092.4465794521132,
 1017.4820561526946,
 797.0272777527158,
 889.31645174094854,
 819.64473735478941,
 647.6565053555488,
 760.74380336591173,
 1017.0550474452026,
 1045.1150977461652,
 759.33151174926206,
 594.8824329507114,
 812.10558415409571,
 685.96492844475051,
 790.90041616867609,
 1251.1958053741139,
 760.74380336591173,
 622.92251850747311,
 609.94077460790209,
 670.27396495762173,
 911.93391134302146,
 1104.7080249415208,
 1308.2651613601738,
 979.99190327169651,
 904.39475814232981,
 870.99427572010666,
 640.11735215485714,
 961.46411412839473,
 844.28714565925964,
 986.91839938663747,
 826.479654926129,
 931.30750132563378,
 617.49989255278433,
 720.93151011645432,
 768.89561365234965,
 1130.5693541630574,
 1032.7659756765295,
 1158.9066313858875,
 834.01880812682259,
 677.81311815831145,
 685.352271359003,
 1014.2381865332327,
 1173.9849377872602,
 1093.0792012820616,
 753.81730725097168,
 934.55137094509439,
 991.62072693116079,
 957.16883054716732,
 925.19288216446421,
 843.67448857351189,
 972.4527500710077,
 941.66351543830001,
 825.75935651595762,
 889.31645174094854,
 678.4257752440617,
 932.73203536515052,
 1025.0212093533842,
 999.88017854201757,
 753.81730725097168,
 836.54237933611284,
 655.80831564198968,
 753.18468542103142,
 946.38580772701175,
 829.20883925787655,
 1271.9939293962486,
 715.50888416176599,
 848.37681611803464,
 720.93151011645432,
 766.16642932060154,
 955.34949496722436,
 1175.8042733672014,
 1180.0995569484307,
 1062.7169753568385,
 685.96492844475051,
 904.39475814232981,
 746.27815405027752,
 730.58719056314885,
 1134.8646377442865,
 1285.6477017581065,
 828.59618217213051,
 783.34129822379089,
 773.70558252129524,
 895.0362693616969,
 677.81311815831145,
 1123.0302009623676,
 912.13952446547546,
 888.88944303346091,
 775.80214502310298,
 803.86219532405551,
 781.24473572198167,
 715.50888416176599,
 1104.7080249415208,
 977.26271893995113,
 919.04605583622845,
 633.19085603991766,
 743.54896971852804,
 949.62967734647577,
 821.03706422724622,
 1097.1688717408317,
 1142.4037909449758,
 979.35928144175523,
 969.00326732908854,
 670.88662204336765,
 753.81730725097168,
 977.96695456929797,
 1137.6814986562563,
 1175.3972294039122,
 1166.4457845865666,
 931.30750132563378,
 953.9249609277058,
 700.43057776038449,
 903.96774943484479,
 1142.4037909449758,
 1123.2358140848175,
 1082.0905653394489,
 693.50408164544467,
 796.32304212336885,
 903.96774943484479,
 768.28295656660327,
 994.437587843139,
 1345.9609273636288,
 909.41034013373007,
 707.96973096107604,
 758.62727611990806,
 730.58719056314885,
 956.74182183968367,
 1128.7500185831132,
 1160.9315800882723,
 979.99190327169651,
 1017.4820561526946,
 977.96695456929797,
 1014.2381865332327,
 924.48864653511021,
 1175.8042733672014,
 934.75698406755271,
 994.86459655062174,
 707.96973096107604,
 946.38580772701175,
 1062.7169753568385,
 1051.9339525366877,
 1069.8291198500497,
 1361.0392337650167,
 1014.9584849434049,
 956.74182183968367,
 964.28097504037157,
 1040.0995157547677,
 828.59618217213051,
 1067.7325573482458,
 1055.3834352786064,
 969.72356573925754,
 858.73283023070155,
 1032.5603625540759,
 775.82210976729311,
 1053.3584865762055,
 1145.2206518569603,
 1243.2296434659343,
 1210.2561697511967,
 844.28714565925964,
 956.74182183968367,
 1067.0122589380658,
 1023.2018737734454,
 1105.4283233516994,
 1233.5939277634336,
 1190.8825797685845,
 828.57621742793401,
 1100.4127413602948,
 1015.6627205727517,
 1130.5693541630574,
 1060.1934041475522,
 1296.0236806149669,
 1017.6876692751515,
 811.40134852474898,
 1077.795281758222]

In [109]:
plt.plot(range(len(count_value)), count_value, label = 'Real')
plt.plot(range(len(count_value)), pred_out, label = 'Regression')
plt.plot(range(len(count_value)), pred_linear_out, '--', label = 'Linear Part')
plt.legend()
plt.show()

In [44]:
state_all = pd.merge(uber_state, taxi_state, on = ['Locarion_ID'])

In [45]:
state_all.head()

,Locarion_ID,Popularity_x,Uber_a,Uber_b,Uber_c,Uber_d,Popularity_y,taxi_a,taxi_b,taxi_c,taxi_d
0,1,Uber_not_popuplar,0,0,0,0,popular,1842.32,3.90925,263.941,-104.218
1,2,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0
2,3,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0
3,4,popular,62.5616,0.580206,10.893,-20.9385,popular,1176.8,1.66439,-240.548,-529.83
4,5,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0

In [46]:
state_all = state_all.rename(columns={'Locarion_ID': 'Location_ID', 'Popularity_x': 'Uber_Popularity', 'Popularity_y': 'Taxi_Popularity'})

In [47]:
state_all.head()

,Location_ID,Uber_Popularity,Uber_a,Uber_b,Uber_c,Uber_d,Taxi_Popularity,taxi_a,taxi_b,taxi_c,taxi_d
0,1,Uber_not_popuplar,0,0,0,0,popular,1842.32,3.90925,263.941,-104.218
1,2,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0
2,3,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0
3,4,popular,62.5616,0.580206,10.893,-20.9385,popular,1176.8,1.66439,-240.548,-529.83
4,5,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0

In [48]:
Prediction = np.zeros(265, dtype=object)

In [49]:
for i in range(265):
    if state_all.loc[i, 'Uber_Popularity'] == 'Uber_not_popuplar':
        if state_all.loc[i, 'Taxi_Popularity'] == 'Taxi_not_popuplar':
            Prediction[i] = 'Not_Popular'
        else:
            Prediction[i] = 'Taxi_Dominates'
    else:
        if state_all.loc[i, 'Taxi_Popularity'] == 'Taxi_not_popuplar':
            Prediction[i] = 'Uber_Dominates'
        else:
            if state_all.loc[i, 'Uber_b'] - state_all.loc[i, 'taxi_b']<=0:
                Prediction[i] = 'Taxi_Safe'
            else:
                a_u = state_all.loc[i, 'Uber_a']
                b_u = state_all.loc[i, 'Uber_b']
                a_t = state_all.loc[i, 'taxi_a']
                b_t = state_all.loc[i, 'taxi_b']
                pred = (a_t - a_u)/(b_u - b_t)
                Prediction[i] = pred - 183

In [50]:
state_all['Prediction'] = Prediction

In [51]:
state_all

,Location_ID,Uber_Popularity,Uber_a,Uber_b,Uber_c,Uber_d,Taxi_Popularity,taxi_a,taxi_b,taxi_c,taxi_d,Prediction
0,1,Uber_not_popuplar,0,0,0,0,popular,1842.32,3.90925,263.941,-104.218,Taxi_Dominates
1,2,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
2,3,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
3,4,popular,62.5616,0.580206,10.893,-20.9385,popular,1176.8,1.66439,-240.548,-529.83,Taxi_Safe
4,5,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
5,6,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
6,7,popular,25.6894,0.871272,-15.5437,-39.4586,popular,1321.01,1.54523,-381.737,-458.315,Taxi_Safe
7,8,popular,6.4124,0.208694,-4.28959,-11.8523,popular,159.2,0.252207,-34.4783,-55.676,Taxi_Safe
8,9,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
9,10,Uber_not_popuplar,0,0,0,0,popular,80.5739,0.281526,-0.921691,-2.27517,Taxi_Dominates
10,11,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
11,12,popular,52.6881,0.323611,13.6883,-7.01814,popular,1407.77,3.92431,-43.2462,-165.23,Taxi_Safe
12,13,popular,141.181,0.702149,48.8285,-8.99652,popular,3028.07,5.59652,596.111,90.8381,Taxi_Safe
13,14,popular,9.30658,0.234323,-1.8955,-9.28224,popular,24.3422,0.0224728,-5.06086,-11.8632,-112.027
14,15,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
15,16,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
16,17,popular,6.46096,0.197298,-3.70215,-6.95662,popular,60.1117,0.0702662,-17.7634,-20.5852,239.341
17,18,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
18,19,popular,5.9237,0.0978501,-1.13647,-6.53374,popular,6.82134,0.0316488,1.0996,-0.353227,-169.441
19,20,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
20,21,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
21,22,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
22,23,Uber_not_popuplar,0,0,0,0,popular,12.7755,0.0179962,0.0925977,0.401511,Taxi_Dominates
23,24,popular,75.2993,0.882347,19.942,-7.49582,popular,6828.95,7.20877,67.9727,-739.761,Taxi_Safe
24,25,popular,85.9136,0.712723,0.952926,-38.1714,popular,1038.81,0.710059,-160.393,-299.863,357512
25,26,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
26,27,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
27,28,popular,3.16251,0.125875,-2.11561,-1.93208,popular,62.3762,0.275499,-8.07473,-9.72861,Taxi_Safe
28,29,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
29,30,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
...,...,...,...,...,...,...,...,...,...,...,...,...
235,236,popular,586.805,1.60498,195.224,18.0282,popular,26064,14.0969,4550.66,870.589,Taxi_Safe
236,237,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
237,238,Uber_not_popuplar,0,0,0,0,popular,11357.4,-14.8162,714.914,-568.568,Taxi_Dominates
238,239,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
239,240,Uber_not_popuplar,0,0,0,0,popular,6.2889,-0.00828436,-0.432648,-0.910012,Taxi_Dominates
240,241,popular,5.04788,0.0508639,0.215783,-0.799034,Taxi_not_popuplar,0,0,0,0,Uber_Dominates
241,242,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
242,243,popular,9.90853,0.444466,0.959896,-3.9589,popular,410.857,-0.664261,-16.4578,-48.8779,178.629
243,244,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
244,245,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
245,246,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
246,247,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
247,248,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
248,249,popular,319.652,1.12542,86.0733,-66.9103,popular,7383.73,-6.42441,135.54,-1086.01,752.66
249,250,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
250,251,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
251,252,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
252,253,Uber_not_popuplar,0,0,0,0,popular,4.45265,0.0944791,-1.61565,-2.19464,Taxi_Dominates
253,254,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
254,255,popular,186.199,2.32277,-26.8012,-126.334,popular,1959.15,-3.75529,-601.329,-787.96,108.697
255,256,popular,108.342,1.85736,-25.8461,-86.1092,popular,1463.35,-2.28823,-415.824,-523.777,143.855
256,257,popular,9.74943,0.133897,-1.48085,-5.93468,popular,27.3663,-0.0349505,-6.01137,-6.00923,-78.6639
257,258,Uber_not_popuplar,0,0,0,0,popular,6.26022,0.00814963,-1.69901,-1.33624,Taxi_Dominates
258,259,popular,4.18021,0.121873,-0.452981,-3.52491,popular,9.44076,-0.00576959,-1.10331,-2.57897,-141.787
259,260,popular,2.56543,0.254629,-2.40236,-7.81253,popular,349.095,-0.0580896,-87.0056,-79.0313,925.119
260,261,popular,52.1364,0.389215,26.2597,5.43143,popular,1885.77,0.236042,100.26,-46.9981,11788
261,262,popular,341.315,1.60125,115.977,1.77512,popular,17907.2,-24.0947,1720.64,-539.149,500.605
262,263,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
263,264,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular
264,265,Uber_not_popuplar,0,0,0,0,Taxi_not_popuplar,0,0,0,0,Not_Popular

In [52]:
state_all.to_csv('Prediction_2014.csv', index=False)

In [139]:
data_taxi_sample = data_taxi[data_taxi['Location_ID'] == 161]

In [140]:
data_taxi_sample = data_taxi_sample[data_taxi_sample['Year'] == 2015]

In [141]:
data_taxi_sample = data_taxi_sample[data_taxi_sample['Month']<=6]

In [142]:
count_value_taxi = data_taxi_sample.groupby(['Month', 'Date'])['Count'].sum().tolist()

In [143]:
count_value_taxi = np.array(count_value_taxi)

In [144]:
para_taxi = optimization.curve_fit(curv_func, range(len(count_value_taxi)), count_value_taxi, np.zeros(4))[0]

In [145]:
para_taxi

array([  2.06570901e+04,  -4.79895614e+00,  -2.79131795e+03,
         2.84683122e+03])

In [146]:
pred_out_taxi = map(lambda x: curv_func(x, para_taxi[0], para_taxi[1], para_taxi[2], para_taxi[3]), range(len(count_value_taxi)))

In [147]:
pred_linear_out_taxi = map(lambda x: para_taxi[0]+para_taxi[1]*x, range(len(count_value_taxi)))

In [150]:
plt.plot(range(len(count_value)), count_value, label = 'Real Uber')
plt.plot(range(len(count_value)), pred_out, label = 'Regression Uber')
plt.plot(range(len(count_value)), pred_linear_out, '--', label = 'Linear Uber')
plt.plot(range(len(count_value_taxi)), count_value_taxi, label = 'Real Taxi')
plt.plot(range(len(count_value_taxi)), pred_out_taxi, label = 'Rregression Taxi')
plt.plot(range(len(count_value_taxi)), pred_linear_out_taxi, '--', label = 'Linear Taxi')
plt.legend()
plt.show()